{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
</head>
<body>
    <div class="signup">
        <form method="POST">{% csrf_token %}
            <h1>ユーザー登録</h1>
            <input id="userName" type="text" placeholder="Username" name="inputUserName">
            <input id="mailAddress" type="text" placeholder="メールアドレス" name="inputEmail">
            <input id="password" type="password" placeholder="Password" name="inputPassword">
            <!-- <input type="password" placeholder="パスワード確認用"> -->
            <button name="signUpButton">Sign up</button>
            <p>{{error}}</p>
            <a href="../signin">登録済みの方</a>
        </form>
    </div>
</body>
</html>